body {
  font-family: 'Syne Mono', monospace;
  margin: 0;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
}

.hover-nav{
  font-size: 30px;
  color: blue;
  width: 10%;
  height: 100%;
  transition: width 2s, height 2s, transform 2s;
  padding-left: 20%;
  padding-top: 5%;
  position: relative;
}

.contents{
  font-family: Helvetica;
  font-size: 20px;
  color: black;
  width: 60%;
  height: 100%;
  float: right;
  padding: 5%;
  position: relative;
}

.footer {
  display: grid;
  grid-template-columns: .1fr .1fr .1fr;
  grid-gap: 1%;
  padding: 5%;
  bottom: 5%;
  left: 30%;
  z-index: 4;
  font-size: 20px;
  width: 100%;
  position: fixed;
  color: black;
}
.footer-grid {
  width:16.66667%;
  text-align: left;
}

.footer-grid:hover{
  color: blue;
  text-decoration: underline;
}

.hover-nav:hover{
  text-decoration: underline;
}
