
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
        body {
          font-family: 'Syne Mono', monospace;
          margin: 0;
        }

        html, body {
          overflow: hidden;
          margin: 0;
          padding: 0;
        }
        a:link {
          text-decoration: none;
            color: black;
        }
        a:visited {
          color: inherit;
          text-decoration: none;
        }
        .container {
          width: 100%;
          height: 100%;
                }

        .hover-nav{
          font-size: 30px;
          color: blue;
          width: 100%;
          height: 10%;
          margin-left: 10%;
          margin-top: 5%;
          position: fixed;
        }

        .contents{
          font-family: Helvetica;
          font-size: 12px;
          color: black;
          width: 100%;
          height: 75%;
          position: absolute;
          overflow: scroll;
          padding: 10px;
          top: 10%;
          overflow-x: hidden;
        }

        .preface{
          font-family: Helvetica;
              font-size: 12px;
              color: black;
              height: 75%;
              position: absolute;
              overflow: scroll;
              padding: 10px;
              top: 10%;
              right:30px;
        }

        .footer {
          width: 100%;
          display: grid;
          grid-template-columns: .1fr .1fr .1fr;
          left: 10%;
          grid-gap: 5%;
          bottom: 3%;
          z-index: 4;
          font-size: 15px;
          position: fixed;
          color: black;
        }
        .footer-grid {
          width: 100%;
          text-align: left;
        }

        .footer-grid:hover{
          color: blue;
          text-decoration: underline;
        }
        .hover-nav:hover{
          text-decoration: underline;
        }
        .selectedworks {
              font-size: 15px;
              width:100%;
              left: 15%;
              position: relative;
              z-index: 5;
            }


        #gallerywrapper {
             width:100%;
             height:450px;
             margin:0 auto;
             position:relative;
         }

         #gallerywrapper #gallery {
             position:relative;
             left:0;
             top:0;
             height:450px;
             width:100%;
             overflow: auto;
             text-align:center;
             float: left;
             overflow-x: hidden; /* Hide horizontal scrollbar */
         }

         #gallerywrapper #gallery div {
           max-width: 100%;
           height: auto;
           padding-top:10px;
         }

         #gallerywrapper #gallery div img {
           max-width: 100%;
           height: auto;
             clear:both;
             display:block;
             margin:0 auto;
             border:0;
         }

         #gallerywrapper #gallery div iframe {
           max-width: 100%;
           height: auto;
             clear:both;
             display:block;
             margin:0 auto;
             border:0;
         }

         #gallerywrapper #gallery div h3 {
             padding:10px 0 0 0;
             margin:0;
             font-size:18px;
         }

         #gallerywrapper #gallery div p {
             padding:5px 0;
             margin:0;
             font-size:12px;
             line-height:18px;
         }

         #gallery .previous{
             display:inline;
             float:left;
             margin-left:80px;
             text-decoration:none;
         }

         #gallery .next{
             display:inline;
             float:right;
             margin-right:80px;
             text-decoration:none;
         }

        .titles:hover{
          color: blue;
          text-decoration: underline;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        body {
          font-family: 'Syne Mono', monospace;
          margin: 0;
        }

        html, body {
          overflow: hidden;
          margin: 0;
          padding: 0;
        }
        a:link {
          text-decoration: none;
            color: black;
        }
        a:visited {
          color: inherit;
          text-decoration: none;
        }
        .container {
          width: 100%;
          height: 100%;
        }

        .hover-nav{
          font-size: 30px;
          color: blue;
          width: 100%;
          height: 10%;
          margin-left: 10%;
          margin-top: 5%;
          position: fixed;
        }

        .contents{
          font-family: Helvetica;
          font-size: 12px;
          color: black;
          width: 100%;
          height: 80%;
          position: absolute;
          overflow: scroll;
          padding: 10px;
          top: 10%;
          overflow-x: hidden;
        }

        .preface{
          font-family: Helvetica;
          font-size: 12px;
          color: black;
          height: 75%;
          position: absolute;
          overflow: scroll;
          padding: 10px;
          top: 10%;
          left: 5%;
        }

        .footer {
          width: 100%;
          display: grid;
          grid-template-columns: .1fr .1fr .1fr;
          left: 15%;
          grid-gap: 10%;
          bottom: 3%;
          z-index: 4;
          font-size: 15px;
          position: fixed;
          color: black;
        }
        .footer-grid {
          width: 100%;
          text-align: left;
        }

        .footer-grid:hover{
          color: blue;
          text-decoration: underline;
        }
        .hover-nav:hover{
          text-decoration: underline;
        }
        .selectedworks {
              font-size: 15px;
              width:30%;
              position: absolute;
              z-index: 5;
              float: right;
              margin-left: 5%;
              left: 60%;
            }

        #gallerywrapper {
             width:70%;
             left: 5%;
             height:450px;
             margin:0 auto;
             position:absolute;

         }

         #gallerywrapper #gallery {
             position:relative;
             left:0;
             top:0;
             height:800px;
             width:80%;
             overflow: auto;
             text-align:center;
             float: left;
             overflow-x: hidden; /* Hide horizontal scrollbar */
         }

         #gallerywrapper #gallery div {
           max-width: 100%;
           height: auto;
           padding-top:10px;
         }

         #gallerywrapper #gallery div img {
           max-width: 100%;
           height: auto;
             clear:both;
             display:block;
             margin:0 auto;
             border:0;
         }

         #gallerywrapper #gallery div iframe {
           max-width: 100%;
           height: auto;
             clear:both;
             display:block;
             margin:0 auto;
             border:0;
         }

         #gallerywrapper #gallery div h3 {
             padding:10px 0 0 0;
             margin:0;
             font-size:18px;
         }

         #gallerywrapper #gallery div p {
             padding:5px 0;
             margin:0;
             font-size:12px;
             line-height:18px;
         }

         #gallery .previous{
             display:inline;
             float:left;
             margin-left:80px;
             text-decoration:none;
         }

         #gallery .next{
             display:inline;
             float:right;
             margin-right:80px;
             text-decoration:none;
         }

        .titles:hover{
          color: blue;
          text-decoration: underline;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        body {
          font-family: 'Syne Mono', monospace;
          margin: 0;
        }

        html, body {
          overflow: hidden;
          margin: 0;
          padding: 0;
        }
        a:link {
          text-decoration: none;
          color: black;
        }
        a:visited {
          color: inherit;
          text-decoration: none;
        }

        .container {
          width: 100%;
          height: 100%;
        }

        .header{
          width: 100%;
          position: fixed;
        }

        .hover-nav:hover{
          text-decoration: underline;
        }

        .hover-nav{
          font-size: 30px;
          color: blue;
          width: 100%;
          margin-left: 10%;
          margin-top: 5%;

        }

        .contents{
          font-family: Helvetica;
          font-size: 12px;
          color: black;
          width: 100%;
          height: 80%;
          position: absolute;
          overflow: scroll;
          padding: 10px;
          overflow-x: hidden;
          top: 10%;
        }

        .preface {
          font-family: Helvetica;
          font-size: 12px;
          color: black;
          height: 75%;
          position: absolute;
          overflow: scroll;
          left: 10%;
          top: 10%;
        }

        .footer {
          width: 100%;
          display: grid;
          grid-template-columns: .1fr .1fr .1fr;
          left: 15%;
          grid-gap: 10%;
          bottom: 3%;
          z-index: 4;
          font-size: 15px;
          position: fixed;
          color: black;
        }
        .footer-grid {
          width: 100%;
          text-align: left;
        }

        .footer-grid:hover{
          color: blue;
          text-decoration: underline;
        }

        .selectedworks {
              font-size: 15px;
              width:30%;
              position: absolute;
              z-index: 5;
              float: right;
              margin-left: 5%;
              left: 60%;
            }

        #gallerywrapper {
             width:70%;
             left: 5%;
             height:450px;
             margin:0 auto;
             position:absolute;

         }

         #gallerywrapper #gallery {
             position:relative;
             left:0;
             top:0;
             height:800px;
             width:80%;
             overflow: auto;
             text-align:center;
             float: left;
             overflow-x: hidden; /* Hide horizontal scrollbar */
         }

         #gallerywrapper #gallery div {
           max-width: 100%;
           height: auto;
           padding-top:10px;
         }

         #gallerywrapper #gallery div img {
           max-width: 100%;
           height: auto;
             clear:both;
             display:block;
             margin:0 auto;
             border:0;
         }

         #gallerywrapper #gallery div h3 {
             padding:10px 0 0 0;
             margin:0;
             font-size:18px;
         }

         #gallerywrapper #gallery div p {
             padding:5px 0;
             margin:0;
             font-size:12px;
             line-height:18px;
         }

         #gallery .previous{
             display:inline;
             float:left;
             margin-left:80px;
             text-decoration:none;
         }

         #gallery .next{
             display:inline;
             float:right;
             margin-right:80px;
             text-decoration:none;
         }

        .titles:hover{
          color: blue;
          text-decoration: underline;
        }

      }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-family: 'Syne Mono', monospace;
    margin: 0;
  }

  html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .header{
    width: 100%;
    position: fixed;
  }

  .hover-nav:hover{
    text-decoration: underline;
  }

  .hover-nav{
    font-size: 30px;
    color: blue;
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;

  }

  .contents{
    font-family: Helvetica;
    font-size: 12px;
    color: black;
    width: 100%;
    height: 75%;
    position: absolute;
    overflow: scroll;
    padding: 10px;
    overflow-x: hidden;
    top: 15%;
  }

  .preface {
    font-family: Helvetica;
    font-size: 12px;
    color: black;
    height: 75%;
    position: absolute;
    overflow: scroll;
    left: 10%;
    top: 15%;
  }

  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: .1fr .1fr .1fr;
    left: 15%;
    grid-gap: 10%;
    bottom: 3%;
    z-index: 4;
    font-size: 15px;
    position: fixed;
    color: black;
  }
  .footer-grid {
    width: 100%;
    text-align: left;
  }

  .footer-grid:hover{
    color: blue;
    text-decoration: underline;
  }

  .selectedworks {
        font-size: 15px;
        width:30%;
        position: absolute;
        z-index: 5;
        float: right;
        margin-left: 5%;
        left: 60%;
      }

  #gallerywrapper {
       width:70%;
       left: 5%;
       height:450px;
       margin:0 auto;
       position:absolute;

   }

   #gallerywrapper #gallery {
       position:relative;
       left:0;
       top:0;
       height:800px;
       width:80%;
       overflow: auto;
       text-align:center;
       float: left;
       overflow-x: hidden; /* Hide horizontal scrollbar */
   }

   #gallerywrapper #gallery div {
     max-width: 100%;
     height: auto;
     padding-top:10px;
   }

   #gallerywrapper #gallery div img {
     max-width: 100%;
     height: auto;
       clear:both;
       display:block;
       margin:0 auto;
       border:0;
   }

   #gallerywrapper #gallery div h3 {
       padding:10px 0 0 0;
       margin:0;
       font-size:18px;
   }

   #gallerywrapper #gallery div p {
       padding:5px 0;
       margin:0;
       font-size:12px;
       line-height:18px;
   }

   #gallery .previous{
       display:inline;
       float:left;
       margin-left:80px;
       text-decoration:none;
   }

   #gallery .next{
       display:inline;
       float:right;
       margin-right:80px;
       text-decoration:none;
   }

  .titles:hover{
    color: blue;
    text-decoration: underline;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      body {
        font-family: 'Syne Mono', monospace;
        margin: 0;
      }

      html, body {
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      a:link {
        text-decoration: none;
          color: black;
      }
      a:visited {
        color: inherit;
        text-decoration: none;
      }
      .container {
        width: 100%;
        height: 100%;
      }

      .hover-nav{
        font-size: 30px;
        color: blue;
        width: 10%;
        height: 10%;
        margin-left: 10%;
        margin-top: 5%;
        position: fixed;
      }
      .preface{
        font-family: Helvetica;
        font-size: 20px;
        color: black;
        width: 70%;
        height: 60%;
        float: left;
        padding: 5%;
        position: absolute;
        overflow: scroll;
        left: 20%;
        top: 0%;
      }
      .contents{
        font-family: Helvetica;
        font-size: 20px;
        color: black;
        width: 70%;
        height: 60%;
        float: left;
        padding: 5%;
        position: absolute;
        overflow: scroll;
        left: 20%;
        overflow-x:hidden;
        top: 0%;
      }

      .footer {
        display: grid;
        grid-template-columns: .1fr .1fr .1fr;
        grid-gap: 1%;
        bottom: 5%;
        left: 30%;
        z-index: 4;
        font-size: 20px;
        width: 100%;
        position: fixed;
        color: black;
      }
      .footer-grid {
        width:16.66667%;
        text-align: left;
      }

      .footer-grid:hover{
        color: blue;
        text-decoration: underline;
      }

      .hover-nav:hover{
        text-decoration: underline;
      }

      .selectedworks {
            font-size: 20px;
            width:40%;
            left: 60%;
            position: absolute;
            z-index: 5;
      }

      #gallerywrapper {
           width:60%;
           height:450px;
           margin:0 auto;
           position:absolute;
       }

       #gallerywrapper #gallery {
           position:absolute;
           left:0;
           top:0;
           height:450px;
           width:640px;
           overflow: auto;
           text-align:center;
           float: left;
           overflow-x: hidden; /* Hide horizontal scrollbar */
       }

       #gallerywrapper #gallery div {
           width:640px;
           height:800px;
           padding-top:10px;
       }

       #gallerywrapper #gallery div img {
           clear:both;
           display:block;
           margin:0 auto;
           border:0;
       }

       #gallerywrapper #gallery div h3 {
           padding:10px 0 0 0;
           margin:0;
           font-size:18px;
       }

       #gallerywrapper #gallery div p {
           padding:5px 0;
           margin:0;
           font-size:12px;
           line-height:18px;
       }

       #gallery .previous{
           display:inline;
           float:left;
           margin-left:80px;
           text-decoration:none;
       }

       #gallery .next{
           display:inline;
           float:right;
           margin-right:80px;
           text-decoration:none;
       }

      .titles:hover{
        color: blue;
        text-decoration: underline;
      }
}
